# haskell files
*.o
*.hi

# executable files
*.out

# buildable alex file 
Lexical/Lexemes.hs

# vscode aux files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# test Haskell modules
*Test.hs